        
        <a role="button" data-toggle="collapse" class="btn btn-primary btn-block"  href="#a1" aria-expanded="true">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
           用户管理 
        </a>
         <div id="a1" class="panel-collapse collapse in" >
             <ul class="nav nav-pills nav-stacked">
                 <li><a href="<php>echo __ADMIN__;</php>/Iuser">用户查看</a></li>
                 <li><a href="<php>echo __ADMIN__;</php>/Iuser">用户添加</a></li>
            </ul>
        </div>
        
        <a role="button" data-toggle="collapse" class="btn btn-primary btn-block"  href="#a2" aria-expanded="true">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            管理员管理 
        </a>

         <div id="a2" class="panel-collapse collapse in" >
             <ul class="nav nav-pills nav-stacked">
                 <li><a href="<php>echo __ADMIN__;</php>/Iadmin/add_show">管理员添加</a></li>
                 <li><a href="<php>echo __ADMIN__;</php>/Iadmin/I_list">管理员查看</a></li>
            </ul>
        </div>

        <a role="button" data-toggle="collapse" class="btn btn-primary btn-block"  href="#a3" aria-expanded="true">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            区域添加防火墙
        </a>
         <div id="a3" class="panel-collapse collapse in" >
             <ul class="nav nav-pills nav-stacked">
                 <li><a href="<php>echo __ADMIN__;</php>/Icf/line_show">连接状态</a></li>
            </ul>
        </div>
        
     

        <a role="button" data-toggle="collapse" class="btn btn-primary btn-block"  href="#a6" aria-expanded="true">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
           操作日志管理 
        </a>
         <div id="a6" class="panel-collapse collapse in" >
             <ul class="nav nav-pills nav-stacked">
                  <li><a href="__MODULE__/">操作日志查看</a></li>
            </ul>
        </div>
      
