
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$title} 快快防护 </title>

    <!-- Bootstrap -->
    <link href="<php>echo __ROOT__</php>/common/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
         .nav > li .dropdown-menu {
            margin: 0;
         }
         .nav > li:hover .dropdown-menu {
            display: block;
        }
        .header .nav > li > a:hover, .header .nav > li > a:focus {
            text-decoration: none;
            background-color:transparent;
        }
    </style>
